<div class="padding10 flex-grid">
  <div class="row">
    <h3>Required Documents</h3>
  </div>
  <div class="row" style="height: 40vh; overflow: scroll; overflow-x: hidden; font-size: small;">

    <div class="flex-grid flex-dir-column">
      <div class="row">


	  <div class="form-field">
		<label>Passport Picture<span class="fg-red">*</span></label>
		<div class="input-control file" data-role="input">
    <input type="file">
    <button class="button"><span class="mif-folder"></span></button>
		</div>
		</div>
		
		<div class="form-field">
		<label>Admission Letter</label>
		<div class="input-control file" data-role="input">
    <input type="file">
    <button class="button"><span class="mif-folder"></span></button>
		</div>
		</div>

	  <div class="form-field">
	  <label>ID [Front]</label>
		<div class="input-control file" data-role="input">
    <input type="file">
    <button class="button"><span class="mif-folder"></span></button>
		</div>
		</div>

	<div class="form-field">
	<label>ID [Back]</label>
		<div class="input-control file" data-role="input">
    <input type="file">
    <button class="button"><span class="mif-folder"></span></button>
		</div>
		</div>

	<div class="form-field">
	<label>Signature<span class="fg-red">*</span></label>
		<div class="input-control file" data-role="input">
    <input type="file">
    <button class="button"><span class="mif-folder"></span></button>
		</div>
		</div>
			
     </div>

    </div>

  </div>
  <br>
  <div class="row flex-dir-row-reverse" style="height: 10vh;">
    <button (click)="nextStep()" class="button bg-black fg-white uppercase">PREVIOUS</button>
  </div>
</div>

<!--<p>
  step7-required-documents works!
</p>-->
