<div class="padding10 flex-grid">
  <div class="row">
    <h3>E - Product</h3>
  </div>
  <br>
  <div class="row" style="height: 40vh; overflow: scroll; overflow-x: hidden; font-size: small;">
  
    <div class="flex-grid flex-dir-column">
      <div class="row">
        <div class="form-field">
          <label>Visa Card Pick up Branch <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">KNUST BRANCH</option>
              <option value="female">ASAFO BRANCH</option>
			  <option value="male">KEJETIA BRANCH</option>
              <option value="female">CIRCLE BRANCH</option>
            </select>
          </div>
        </div>

        <!--<div class="form-field">
          <label>Student ID <span class="fg-red">*</span></label>
          <div class="input-control row flex-dir-row" data-role="input">
            <input type="text">
            <button style="width: 200px; margin-top:-1px;" class="button bg-gray fg-white"><span class="mif-plus"></span> Auto ID</button>
          </div>
        </div>-->

        <div class="form-field">
          <label>Preferred Name on Card <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

	
		</div>
		<br>
		<br>
		<br>
	<div class="row">
		<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">SMS-Alert</span>
		</label>
	</div>
	
	<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">Visa Card</span>
		</label>
	</div>
	
	<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">Internet Banking</span>
		</label>
	</div>
	
	
	<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox" >
		<span class="check"></span>
		<span class="caption">E-Alert</span>
		</label>
	</div>
	
	<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">E-Statement</span>
		</label>
	</div>
	
	<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">Cheque Book</span>
		</label>
	</div>
		
		<div class="form-field">
			<label class="input-control checkbox small-check">
			<input type="checkbox">
		<span class="check"></span>
		<span class="caption">No Wahala</span>
		</label>
	</div>
		
  </div>
  </div>
  </div>
  <br>
  <div class="row flex-dir-row-reverse" style="height: 10vh;">
    <button (click)="nextStep()" class="button bg-black fg-white uppercase">Next</button>
  </div>
</div>

































<!--<p>
  step6-eproducts works!
</p>-->
