<div class="padding10 flex-grid">
  <div class="row">
    <h3>Personal Information</h3>
  </div>
  <div class="row" style="height: 40vh; overflow: scroll; overflow-x: hidden; font-size: small;">

    <div class="flex-grid flex-dir-column">
      <div class="row">
        <div class="form-field">
          <label>Title <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">Mr</option>
              <option value="female">Mrs</option>
			  <option value="male">Miss</option>
              <option value="female">Master</option>
            </select>
          </div>
        </div>
        <div class="form-field">
          <label>Other [Title]</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>First Name <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

        <div class="form-field">
          <label>Surname <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

		<div class="form-field">
          <label>Other Names </label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>
		
        <div class="form-field">
          <label>Gender</label>
          <div class="input-control select full-size">
            <select>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>
		

      </div>
      <br>
      <div class="row">
        <div class="form-field">
          <label>Date of Birth <span class="fg-red">*</span></label><br>
          <div class="input-control text" data-role="datepicker">
            <input type="text">
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>
        <div class="form-field">
          <label>Place Of Birth <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>Maiden Name</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

        <div class="form-field">
          <label>Former Name </label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

        <div class="form-field">
          <label>Mothers Maiden Name <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>Marital Status <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">Single</option>
              <option value="female">Married</option>
			  <option value="male">Divorced</option>
              <option value="female">Separated</option>
            </select>
          </div>
        </div>




      </div>
      <br>
      <div class="row">
        <div class="form-field">
          <label>Nationality <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">Ghana</option>
              <option value="female">Burkina</option>
			  <option value="male">Nigeria</option>
              <option value="female">Togo</option>
            </select>
          </div>
        </div>


        <div class="form-field">
          <label>Country of Residence <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">Ghana</option>
              <option value="female">Burkina</option>
			  <option value="male">Nigeria</option>
              <option value="female">Togo</option>
            </select>
          </div>
        </div>

        <div class="form-field">
          <label>Hometown</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>SSNIT Number</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>Resident Permit Number</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>



      </div>
      <br>
      <div class="row">

        <div class="form-field">
          <label>Permit Issue Date</label><br>
          <div class="input-control text" data-role="datepicker">
            <input type="text">
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>

        <div class="form-field">
          <label>Permit Expiry Date </label><br>
          <div class="input-control text" data-role="datepicker">
            <input type="text">
            <button class="button"><span class="mif-calendar"></span></button>
          </div>
        </div>



        <div class="form-field">
          <label>How did you hear about us? <span class="fg-red">*</span> </label>
          <div class="input-control select full-size">
            <select>
              <option value="1">Newspaper</option>
              <option value="1">Tv News</option>
              <option value="1">Word of mouth</option>
              <option value="1">Suggested by a friend</option>
            </select>
          </div>
        </div>

        <div class="form-field">
          <label>Introducer </label>
          <div class="input-control select full-size">
            <input type="text">
          </div>
        </div>
		
		<div class="form-field">
          <label>Initial Deposit <span class="fg-red">*</span> </label>
          <div class="input-control select full-size">
            <input type="text">
          </div>
        </div>



      </div>

    </div>

  </div>
  <br>
  <div class="row flex-dir-row-reverse" style="height: 10vh;">
    <button (click)="nextStep()" class="button bg-black fg-white uppercase">Next</button>
  </div>
</div>
