<div class="bg-white block-shadow" style="height: 72vh;">
    <div class="all-transactions-component flex-grid padding20">
        <div class="all-transactions-nav row flex-dir-row flex-just-end">
            <!--<div class="input-control text" data-role="input">-->
            <input type="text" placeholder="SEARCH">
            <!--</div>-->
            <button class="button bg-black fg-white uppercase">
        Refresh
      </button>

        </div>


        <table id="all_transactions_table" class="dataTable striped
    border bordered" data-role="datatable" data-searching="false" data-page-length="8">
            <thead class="fg-white">
                <tr class="fg-white uppercase">
                    <th class="bd-white fg-black">title</th>
                    <th class="bd-white fg-black">firstname</th>
                    <th class="bd-white fg-black">lastname</th>
                    <th class="bd-white fg-black">student id</th>
                    <th class="bd-white fg-black">contact</th>
                    <th class="bd-white fg-black">status</th>
                    <th class="bd-white fg-black">account no</th>
                    <th class="bd-white fg-black">customer id</th>
                    <th style="padding-left:20px" class="bd-white fg-black">docs</th>
                    <th style="padding-left:20px" class="bd-white fg-black">view</th>
                </tr>
            </thead>

            <tbody class="uppercase">
                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>

                <tr>
                    <td>Mr</td>
                    <td>collins</td>
                    <td>asante</td>
                    <td>2554463</td>
                    <td>0240313771</td>
                    <td>Authorized</td>
                    <td>16641245421441</td>
                    <td>2341541</td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-camera"></span></a></td>
                    <td><a href="#"><span style="color: goldenrod;padding-left:20px;" class="mif-menu"></span></a></td>
                </tr>





            </tbody>
        </table>
    </div>
</div>