<div class="padding10 flex-grid">
  <div class="row">
    <h3>Institutional Details</h3>
  </div>
  <div class="row" style="height: 40vh; overflow: scroll; overflow-x: hidden; font-size: small;">

    <div class="flex-grid flex-dir-column">
      <div class="row">
        <div class="form-field">
          <label>Institution <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="male">KNUST</option>
              <option value="female">UCC</option>
			  <option value="male">LEGON</option>
              <option value="female">UDS</option>
            </select>
          </div>
        </div>

        <div class="form-field">
          <label>Student ID <span class="fg-red">*</span></label>
          <div class="input-control row flex-dir-row" data-role="input">
            <input type="text">
            <button style="width: 200px; margin-top:-1px;" class="button bg-gray fg-white"><span class="mif-plus"></span> Auto ID</button>
          </div>
        </div>

        <div class="form-field">
          <label>SSNIT Number</label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>
		
		
		
		 <div class="form-field">
          <label>Preferred Branch <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="#">KNUST</option>
              <option value="#">ADUM</option>
              <option value="#">ASAFO</option>
			   <option value="#">CIRCLE</option>
              <option value="#">KEJETIA</option>
              <option value="#">ACCRA CENTRAL</option>
            </select>
          </div>
        </div>
		</div>
		<br>
		<br>
		
		<div class="row">
        <div class="form-field">
          <label>Admission Year <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <input type="text">
          </div>
        </div>
	 	


		
        <div class="form-field">
          <label>Completion Year <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>


        <div class="form-field">
          <label>Completion Year <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>
		
		
		<div class="row">
        <div class="form-field">
          <label>Hall of Residence/Affiliation <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>
		
	
        <div class="form-field">
          <label>Please Choose <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="#">Resident</option>
              <option value="#">Non-Resident</option>
              
            </select>
          </div>
        </div>
		
	</div>
	</div>
	<br>

	<br>
	<div class="row">
		<div class="form-field">
          <label>Level <span class="fg-red">*</span></label>
          <div class="input-control select full-size">
            <select>
              <option value="#">100</option>
              <option value="#">200</option>
              <option value="#">300</option>
			   <option value="#">400</option>
              <option value="#">500</option>
              <option value="#">600</option>
            </select>
          </div>
        </div>
	
		
		
		 <div class="form-field">
          <label>Course <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>
		
        <div class="form-field">
          <label>Department <span class="fg-red">*</span></label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

        <div class="form-field">
          <label>Faculty/College </label>
          <div class="input-control text full-size">
            <input type="text">
          </div>
        </div>

     </div>
     
	 
  </div>

  </div>
  <br>
  <div class="row flex-dir-row-reverse" style="height: 10vh;">
    <button (click)="nextStep()" class="button bg-black fg-white uppercase">Next</button>
  </div>
</div>
